<h1>Your Dates</h1>

<table>

  <h4>Date: </h4>

  <h4>Food:</h4>

<h4>Activity 1:</h4>

  <h4>Activity 2 </h4>

  <h4>Location: </h4>

<% @dates.each do |date| %>

      <tr><%= date.title %></tr>

      <tr><%= date.act1 %></tr>

      <tr><%= date.food %></tr>

      <tr><%= date.act2 %></tr>

      <tr><%= date.location %></tr>

  <% end %>
</table>
