<h1>THE Date</h1>

<p>
  <strong>Title:</strong>
    <%= @date.title %><br>
  <strong>Activity 1:</strong>
    <%= @date.act1 %><br>
  <strong>Food:</strong>
    <%= @date.food %><br>
  <strong>Activity 2:</strong>
    <%= @date.act2 %><br>
  <strong>Location:</strong>
    <%= @date.location %><br>
</p>
