<h1>THE DATE</h1>

<div class="formContainer">
	<div class="back-fill">
	<%= form_for @date do |f| %>

		<div class="heading">
			<%= f.label :Title %><br>
			<%= @date.title %><br>
		</div>
		<div class="heading">
			<%= f.label :activity %><br>
			<%= @date.activity.name %><br>
		</div>
	  <div class="heading">
	    <%= f.label :Food %><br>
	    <%= @date.food.name %><br>
	  </div>
	  <div class="heading">
	    <%= f.label :Activity2 %><br>
	    <%= @date.activity_two.name %><br>

	  </div>
	  <div class="heading">
	    <%= f.label :Location %><br>
	    <%= @date.location %><br>
	  </div>


	<% end %>
	</div>

  <%= link_to 'Edit', edit_date_post_path(@date) %>
	<br>
  <%= link_to 'Go to Dates', date_posts_path(@date) %>
